/*#d7c9a8*/
/*Bouton voir plus*/

a h1{
  color: black;
  text-decoration: none;
}
a h1:hover{
  text-decoration: none;
}
header div{
  display:inline-block;
}

header h1{
  padding-left: 100px;
  text-transform: uppercase;
  font-weight: bold;
}

header{

  margin-bottom: 20px;
}


#main-nav {
  position: relative;
  left: 0;
  margin-top: 0;
  float: right;
}

.d-none {
  display: none;
}

.fa-bars{
  border: 1px solid white;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 0;
  color: #d7c9a8;
}

ul{
  padding: 0;
  margin-top: 0;
}

.nav-item {
  display:inline;
}

.nav-item a {
  display: block;
  padding: 15px 20px;
  color: black;
  background-color: /*rgb(255, 255, 255, 0.7)*/ white;
}

.nav-item:first-child a {
  border-radius: 0 5px 0 0px;
}
.nav-item:last-child a {
  border-radius: 0 0px 5px 0;
}
.nav-item a:hover {
  background: /*rgb(255,0,0, 0.8)*/ #d7c9a8;
}

a.voirplus{
  position: absolute;
  color: black;
  text-decoration: none;
  border: 2px solid #d7c9a8;
  padding:1px auto;
  text-align: center;
  background-color:rgb(255,255,255,0.7);
}
a.voir2, a.voir3, a.voir4{
  position: absolute;
  color: black;
  text-decoration: none;
  border: 2px solid #d7c9a8;
  padding:1px auto;
  text-align: center;
  background-color:rgb(255,255,255,0.7);
  display: none;
}
a.voirp, a.voirs{
  position: absolute;
  color: #d7c9a8;
}
/*                  Bouton et h3 responsive*/
@media only screen and (max-width:320px){
  a.voirp{
    top: 35%;
    left: 15%;}
    a.voirs{
      top: 35%;
      left: 75%;;
    }
    a.voirplus{
      top:40%;
      left:25%;
    }
    h3{
      font-size: 15px;}
      a.couleur{
        font-size: 15px;}
        body{
          max-width: 320px;
          width: 100%;
        }


      }

      @media only screen and (min-width:321px){
        a.voirp{
          top: 45%;
          left: 15%;}
          a.voirs{
            top: 45%;
            left: 75%;;
          }
          a.voirplus{
            top: 110%;
            left:30%;
            font-size: 20px;
          }
          h3{
            font-size: 20px;
          }
          a.couleur{
            font-size: 20px;}
            body{
              max-width: 768px;
              width: 100%;
            }
          }
          @media only screen and (min-width:1020px){
            a.voirp{
              top: 45%;
              left: 15%;}
              a.voirs{
                top: 45%;
                left: 75%;;
              }
              a.voirplus{
                top: 145%;
                left: 30%;
                font-size: 25px;
              }
              h3{
                font-size: 25px;
              }
              a.couleur{
                font-size: 25px;}
                body{
                  max-width: 1024px;
                  width: 100%;
                }

              }
              /*         Couleur boutons get it et messagerie*/
              a.couleur{
                border-color: #d7c9a8;
                color: black;
              }
              .icon a{
              	color: #d7c9a8;
              }

              .icon a:hover{
              	color: black;
              }


              .footer{
              	border-top: 1px solid #d7c9a8;
              	display: block;
              	justify-content: space-between;
              	padding-top: 30px;
              	padding-bottom: 30px;
              	text-align: center;
              }

              .footer li{
              	display: inline-block;
              	justify-content: space-between;
              	padding-right: 20px;
              	margin-top: 30px;
              	margin-bottom: 30px;
              	font-weight: bold;
              }
